:root{
    --font-footer: "Open Sans", sans-serif;
    --color-header-footer: #10375C;
    --color-main: #2E80CE;
    --color-desc: #575F66;
}
*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
     height: 10000000000px;
}
body{
    font-size: 1.6rem;
    font-family: Sora, sans-serif;
   
}

/* ======================= all ======================= */
.main-content{
    width: 1170px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
}
a{
    text-decoration: none;
}
.btn{
    width: 205px;
    line-height: 60px;
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    border-radius: 30px;
    background: var(--color-main);
    display: inline-block;
}
.btn:hover{
    opacity: 0.9;
}
.section-heading{
    color: var(--color-header-footer);
    font-size: 5rem;
    font-weight: 600;
    line-height: 60px; /* 120% */
    letter-spacing: -1px;
}
.section-desc{
    color: var(--color-desc);
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 30px; /* 166.667% */
}
.item-heading{
    color: var(--color-header-footer);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
}
.item-desc{
    color: var(--color-desc);
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 28px; /* 175% */
}
.btn-list{
    display: flex;
    gap: 18px;
}
.btn-left-right{
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #575F66;
    color: #575F66;
}
.btn-left-right:hover{
    background-color: var(--color-main);
    color: #FFF;
    border: none;
}

/* ======================= header ======================= */
.head{
    background-color: var(--color-header-footer);
}
.head-top{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    align-items: center;
    padding-bottom: 20px;
}
.navbar__list{
    display: flex;
    gap: 42px;
    align-items: center;
}
.navbar__link{
    /* padding: 6px 0px; */
    color: #C9D2DA;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 28px; /* 175% */
    display: flex;
    align-items: center;
}
.navbar__link:hover,
.navbar__link.active{
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 28px; /* 175% */
    gap: 8px;
}
.navbar__link.active::before{
    content: "";
    height: 6px;
    width: 6px;
    background-color: #FFFFFF;
    display: inline-block;
    border-radius: 50%;
}
.head__button{
    display: flex;
    align-items: center;
    gap: 28px;
}
.head__button--log-in{
    color: #C9D2DA;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 28px; /* 175% */
    flex-shrink: 0;
}
.head__button--sign-up{
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 44px;
    width: 104px;
    border-radius: 22px;
}
.head-bot{
    display: flex;
    align-items: center;
    padding-top: 56px;
    justify-content: space-between;
    padding-bottom: 110px;
}
.head-bot-left{
    width: 44%;
}
.head-bot__title{
    color: #FFF;
    font-size: 7rem;
    font-weight: 600;
    line-height: 80px; /* 114.286% */
    letter-spacing: -1.4px;
}
.head-bot__desc{
    color: #C9D2DA;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 30px; /* 166.667% */
    margin-top: 22px;
}
.head-bot__contact{
    display: flex;
    margin-top: 38px;
    gap: 38px;
    align-items: center;
}
.head-bot__call{
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.head-bot__image{
    display: flex;
    align-items: center;
}
.head-bot__img{
    width: 330px;
    height: 540px;
    flex-shrink: 0;
    border-radius: 6px;
    object-fit: cover;
}
.head-bot__image-left{
    z-index: 1  ;
}
.head-bot__image-right{
    width: 210px;
    height: 410px;
    border-radius: 0 6px 6px 0;
    margin-left: -6px;
}

/* ======================= main ======================= */

/* =============== service =============== */
.service{
    padding-top: 170px;
    padding-bottom: 70px;
}
.service-top{
    text-align: center;
}
.service-top__desc{
    width: 468px;
    margin: 0 auto;
    margin-top: 18px;
}
.service-bot{
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
    align-items: center;
}
.service-bot__img{
    width: 570px;
    height: 570px;
    flex-shrink: 0;
    border-radius: 12px;
    object-fit: cover;
}
.service-bot__content{
    width: 40%;
}
.service-bot__item{
    display: flex;
    border-radius: 10px;
    background: #FFF;
    gap: 19px;
    height: 128px;
    align-items: center;
}
.service-bot__item:hover{
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
}
.service-bot__button{
    margin-top: 55px;
}

/* =============== work =============== */
.work{
    margin-top: 100px;
    padding-top: 100px;
    background-color: #F6FBFF;
    padding-bottom: 100px;
}
.work-top{
    width: 40%;
}
.work-bot{
    margin-top: 86px;
}
.work-bot__list{
    display: flex;
    justify-content: space-between;
}
.work-bot__item{
    width: 370px;
    height: 402px;  
    border: solid 16px #EAF6FF;
    padding: 43px 42px;
    cursor: pointer;
}
.work-bot__item-icon{
    width: 72px;
    height: 72px;
}
.work-bot__item-heading{
    color: var(--color-header-footer);
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 36px; /* 138.462% */
    margin-top: 18px;
}
.work-bot__item-desc{
    margin-top: 28px;
}
.work-bot__item-link{
    color: var(--color-desc);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 28px; /* 175% */
    margin-top: 18px;
    display: inline-block;
}
.work-bot__item:hover{
    position: relative;
    border-color: var(--color-main);
    top: -16px;
    .work-bot__item-link{
        color: var(--color-main);
    }
}

/* =============== about =============== */
.about{
    margin-top: 70px;
    padding-top: 100px;
    padding-bottom: 70px;
}
.about .main-content{
    display: flex;
    justify-content: space-between;
    height: 491px;
    align-items: center;
}
.about-left{
    position: relative;
    width: 49%;
    align-self: start;
    height: 491px;
}
.about-left__img{
    width: 512px;
    height: 370px;
    flex-shrink: 0;
    border-radius: 6px;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.07);
    object-fit: cover;
    
}
.about-left__img-right{
    width: 332px;
    height: 370px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.about-right{
    width: 41%;
}
.about-right__desc{
    margin-top: 18px;
}
.about-right__button{
    margin-top: 38px;
}

/* =============== our =============== */
.our{
    margin-top: 70px;
    padding-top: 30px;
    text-align: center;
    padding-bottom: 70px;
}
.our-top__button{
    margin-top: 38px;
}
.our-bot{
    margin-top: 70px;
}
.our-bot__list{
    display: flex;
    justify-content: space-between;
}
.our-bot__item{
    width: 270px;
    flex-shrink: 0;
}
.our-bot__item-img{
    width: 100%;
    height: 290px;
    flex-shrink: 0;
    border-radius: 6px;
}
.our-bot__item-name{
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400px;
    line-height: 28px; /* 175% */
    margin-top: 12px;
}
.our-bot__item-desc{
    font-size: 1.4rem;
    font-weight: 300px;
    line-height: 26px; /* 185.714% */
}
.our-bot__btn-list{
    margin-top: 38px;
    display: flex;
    justify-content: center;
}

/* =============== install =============== */
.install{
    margin-top: 100px;
    padding-top: 95px;
    padding-bottom: 70px;
}
.install .main-content{
    display: flex;
    height: 427px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-main);
    padding: 0 70px;
}
.install-left{
    width: 25%;
    position: relative;
    height: 427px;
}
.install-left__img{
    width: 284px;
    height: 522px;
    flex-shrink: 0;
    position: absolute;
    top: -95px;
}
.install-right{
    width: 57%;
}
.install-right__heading{
    color: #FFF;
    width: 489px;
}
.isntall-right__desc{
    color: #FFF;
    margin-top: 18px;
    width: 586px;
}
.install-right__dowload{
    margin-top: 38px;
    display: flex;
    gap: 28px;
}

/* =============== news-events =============== */
.news-events{
    margin-top: 170px;
}
.news-events .main-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.news-events-left{
    width: 40%;
}
.news-events-left__link{
    color: var(--color-header-footer);
    font-family: Inter;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 28px; /* 155.556% */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    margin-top: 28px;
    display: inline-block;
}
.news-events-left__btn-list{
    margin-top: 28px;
}
.news-events-right__list{
    display: flex;
    gap: 30px;
}
.news-events-right{
    width: 570px;
}
.news-events-right__item{
    width: 270px;
    border-radius: 12px;
    border: 1px solid #E8EBEE;
    background: #FFF;;
}
.news-events-right__item:hover{
    box-shadow: 0 18px 50px 0 rgba(0, 0, 0, 0.05);
    border: none;
    .news-events-right__link{
        color: var(--color-main);
    }
}
.news-events-right__content{
    padding: 18px 22px 21px;
}
.news-events-right__heading{
    font-size: 1.6rem;
    line-height: 26px; /* 162.5% */
}
.news-events-right__desc{
    font-size: 1.4rem;
    margin-top: 10px;
    line-height: 24px; /* 171.429% */
}
.news-events-right__link{
    margin-top: 12px;
    display: inline-block;
    color: var(--color-header-footer);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: normal;
}

/* =============== appointment =============== */
.appointment{
    margin-top: 170px;
    text-align: center;
}
.appointment .main-content{
    padding: 100px 0px;
}
.appointment__heading::after{
    content: "";
    width: 136px;
    height: 2px;
    display: block;
    background-color: var(--color-main);
    margin: 0 auto;
    margin-top: 18px;
}
.appointment__desc{
    margin-top: 18px;
    width: 617px;
    margin-left:auto;
    margin-right: auto;
    font-size: 1.6rem;
}
.appointment__button{
    margin-top: 38px;
}